{% extends "base.html" %}
{% load i18n static %}

{# Пароль изменён. #}

{% block extra_css %}<link rel="stylesheet" href="{% static 'css/cabinet.css' %}">{% endblock %}

{% block content %}
<div class="container page">
  <header class="page-head">
    <h1 class="page-head__title">{% translate "Пароль изменён" %}</h1>
    <p class="page-head__lead">
      {% translate "Теперь можно войти с новым паролем." %}
    </p>
    <p>
      <a class="button button--primary" href="{% url 'accounts:login' %}">
        {% translate "Войти" %}
      </a>
    </p>
  </header>
</div>
{% endblock %}
