{% extends "base.html" %}
{% load i18n static %}

{# Пароль изменён. #}

{% block extra_css %}<link rel="stylesheet" href="{% static 'css/cabinet.css' %}">{% endblock %}

{% block content %}
<div class="container container--narrow page">
  <div class="auth-card">
    <h1 class="auth-card__title">{% translate "Пароль изменён" %}</h1>
    <p class="auth-card__lead">
      {% translate "Теперь можно войти с новым паролем." %}
    </p>
    <a class="button button--primary button--block" href="{% url 'accounts:login' %}">
      {% translate "Войти" %}
    </a>
  </div>
</div>
{% endblock %}
